# AI settings
#BASE_URL="https://api.openai.com/v1"
#OPENAI_API_KEY="your-openai-api-key"
OPENAI_API_KEY="sk-ffsdfs"
#OPENAI_MODEL="gtp-5.5-thinking"
OPENAI_MODEL="gpt-4o-mini"

# Logging
LOG_LEVEL=DEBUG
# Write to file or screen
WRITE_TO_FILE=true