# AI settings
#BASE_URL="https://api.openai.com/v1"
#API_KEY="your-openai-api-key"
API_KEY="sk-ffsdfs"
#MODEL="gtp-5.5-thinking"
MODEL="gpt-4o-mini"

# Logging
LOG_LEVEL=DEBUG
# Write to file or screen
WRITE_TO_FILE=true